@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-max-width: 64rem;
}

html, body, #root { height: 100%; }

/* Brand overrides */
:root {
  --brand-blue: #081250;
}

body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
